<div class="full-height flex-column center col-12">
    <h1>Task Instruction</h1>

    <%= form_tag sessions_path do %>

    <p>
        * You should do this task in the <b>desktop web browser</b> such as Chrome.<br>
        There are 3 sections in this task, and it will take approximately 30 minutes in total.<br>
        You cannot go back to previous section, once you leave it.
    </p>
    <br>
    <p>
        <strong>Section 1. Pre-experiment Survey</strong><br>
        In this section, you <strong>must</strong> answer <strong>all</strong> survey questions.
    </p>
    <br>
    <p>
        <strong>Section 2. Logical Fallacy Judgement</strong><br>
        In this section, you will learn the concept of false dilemma with representative examples.<br>
        After then, you will read 44 tweets from politicians and judge whether each tweet has false dilemma or not.
    </p>
    <br>
    <p>
        <strong>Section 3. Post-experiment Survey</strong><br>
        In this section, you should complete a questionnaire based on your experience in Section 2.
    </p>
    <br>
<!--
    <p>
        <strong>Section 3. Survey</strong><br>
        In this section, you <strong>must</strong> answer <strong>all</strong> survey questions.<br>
        There is a question that you can get correct only if you read the article in section 2, so <strong>make sure you read it</strong>.<br>
        <strong>If you get it wrong, you will get <span class="red">disadvantage</span></strong>. <br><br>

    </p>
-->
     <p>
        After you finish all sections, you will be shown a page with <span class="red">finish token</span>.<br>
        Please submit this token back in mTurk task page. Thank you so much for your participation :)<br>
    </p>

    <div style="border: 1px solid black; line-height: 1em; padding:0.5em;"> 
        <i style="font-size: 13px;">
            * If you have any questions or wish to express any discomfort related to this research, please feel free to contact the researcher below.<br>
            (You can find the contact information by clicking the "Instruction" button on the top left side.)<br><br>
            <strong>Name of researcher: Donghoon Han, Contact: hoonhan.d@kaist.ac.kr</strong>
        </i>
    </div>

    <p>
        <%= hidden_field_tag :name, "write your username" %>
    </p>
    <p>
        <%= hidden_field_tag :key, params[:workerId] %>
    </p>
    
    <p class="center mb-1"><%= submit_tag "Start Task", :class => "btn mt-1 mb-1" %></p>

    <% end %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById("name").value = faker.name.firstName();
});
</script>