<div class="full-height flex-column center col-12">
    <h1>Task Instruction</h1>

    <%= form_tag sessions_path do %>

    <p>
        There are 2 sections in this task.<br><br>
    </p>

    <p>
        <strong>Section 1. Survey</strong><br>
        In this section, you'll be <strong>rating the questions</strong> in terms of how interesting they are to you.<br>
        Here, you <strong>must</strong> finish <strong>all</strong> survey questions in order to get a <strong class="red">fixed</strong> payment of $1.<br><br>
    </p>

    <p>
        <strong>Section 2. Question-answering</strong><br>
        In this section, you'll be <strong>answering the questions</strong> about a given news article.<br>
        Here, your payment is <strong class="red">relative</strong> to the number of questions you answer. (<strong>$0.1 per question</strong>) <br>
        <strong>You can move on to the next part <span class="red">anytime</span>.</strong><br><br>
    </p>

     <p>
        After you finish the two sections above, you will be shown a page with <span class="red">finish token</span>.<br>
        Please submit this token back in mTurk task page. <br>
        Thanks so much :) 
    </p>


    <p>
        <%= hidden_field_tag :name, "write your username" %>
    </p>
    <p>
        <%= hidden_field_tag :key, params[:workerId] %>
    </p>
    
    <p class="center mb-1"><%= submit_tag "Start Task", :class => "btn mt-1 mb-1" %></p>

    <% end %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById("name").value = faker.name.firstName();
});
</script>