<div class="full-height flex-column center col-12">
    <h1>Task Instruction</h1>

    <%= form_tag sessions_path do %>

    <p>
        There are 2 sections in this task. You cannot go back to previous section, once you leave it.<br><br>
    </p>

    <p>
        <strong>Section 1. Reading an article</strong><br>
        In this section, you'll <strong>read a news article</strong> and <strong>answer questions</strong> about the article.<br>
        While answering questions is <strong class="red">optional</strong>, reading the article is <strong class="red">required</strong>.<br>
        You can move on to the next part <strong class="red">anytime</strong>, but cannot come back once you leave.<br><br>
    </p>

    <p>
        <strong>Section 2. Survey</strong><br>
        In this section, you <strong>must</strong> answer <strong>all</strong> survey questions.<br><br>
    </p>

<!--
    <p>
        <strong>Section 3. Survey</strong><br>
        In this section, you <strong>must</strong> answer <strong>all</strong> survey questions.<br>
        There is a question that you can get correct only if you read the article in section 2, so <strong>make sure you read it</strong>.<br>
        <strong>If you get it wrong, you will get <span class="red">disadvantage</span></strong>. <br><br>

    </p>
-->
     <p>
        After you finish all sections, you will be shown a page with <span class="red">finish token</span>.<br>
        Please submit this token back in mTurk task page.
        Thanks so much :) 
    </p>


    <p>
        <%= hidden_field_tag :name, "write your username" %>
    </p>
    <p>
        <%= hidden_field_tag :key, params[:workerId] %>
    </p>
    
    <p class="center mb-1"><%= submit_tag "Start Task", :class => "btn mt-1 mb-1" %></p>

    <% end %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById("name").value = faker.name.firstName();
});
</script>