<%= form_tag("/create_highlight/0", method: "post", remote: true) do %>
    
    Please highlight the relevant part of article.
    
    <div class="pleasehighlight" class="action">
        <input class="highlightInput<%= index - 1 %>" type="hidden" name="answer_value"/>
        <a class="btn startHighlight mt-1">Click to Start Highlighting!</a>
        <%= submit_tag("Submit", :class => "btn hidden submitHighlight") %>
    </div>

<% end %>