
<div class="options">
    <% if answer.isfallacy %>
        <label><input type='radio' disabled checked/>Yes</label>
        <label><input type='radio' disabled/>No</label>
    <% else %>
        <label><input type='radio' disabled/>Yes</label>
        <label><input type='radio' disabled checked/>No</label>
    <% end %>
</div>
