<div>
    You've judged 
    <strong><%= TweetAnswer.answers_by(current_user.id).length %></strong>
    tweets!<br>
    <strong><%= 44 - TweetAnswer.answers_by(current_user.id).length %></strong> 
    tweets to go!
</div>


<li>
    <div class="collapsible-header noclick">
        <b>Does this tweet have false dilemma?</b>
        <!-- <i class="material-icons">keyboard_arrow_down</i> -->
    </div>
    <div id="task" class="collapsible-body">
        <div id="formContainer">
            <% if TweetAnswer.task_round(current_user.id) == 2 && current_user.group == 2 %>
                <%= render partial: "articles/partials/annotate_scaffold" %>
            <% else %>
                <%= render partial: "articles/partials/annotate_plain" %>
            <% end %>
        </div>
    </div>
</li>
