<%= form_tag("/create_highlight/#{answer.id}", method: "post", remote: true) do %>
    <input type="hidden" name="task_id" value="<%= current_task.id %>">

    Please highlight the relevant part of article.
    <div id="pleasehighlight" class="action">
        <input type="hidden" name="answer_value"/>
        <a class="btn startHighlight mt-1">Start</a>
        <%= submit_tag("Submit", :class => "btn hidden submitHighlight") %>
    </div>

<% end %>