<li class="<%= @task.kind %>">
    <div class="collapsible-header">
        <b><%= @task.question %></b>
        <i class="material-icons">keyboard_arrow_down</i>
    </div>
    <div id="task-<%= @task.id %>" class="collapsible-body">
        <%= render partial: "form" %>
    </div>
</li>