<div class="col-1"></div>
<section class="full-height center col-10 noselect">
    <!-- <div class="contribution">
        Your contribution:
        <div class="progress">
            <div style="width: 10%" class="progress-bar"></div>
        </div> 
    </div> -->

    <div class="task">
        <ul class="collapsible survey">

            <div class="mb-1">
            
            Below, you’ll score <strong>how <span class="red">interesting</span> each question was/is</strong>,
            compared to other questions. <br>
            In other words, how much likely would you answer it?<br>

            </div>

            <% Task.all.each do |t| %>
                <% answer_hash = {user_id: current_user.id, article_id: 1} %>
                <% @answer = t.answers.where(answer_hash).first %>

                    <li class="done">
                        <div class="collapsible-header">
                            <%= t.id %>. &nbsp;<b><%= t.question %></b>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                        <div id="task-<%= t.id %>" class="collapsible-body">
                            <%= render partial: "survey_form", locals: {answer: @answer} %>
                        </div>
                    </li>

            <% end %>

        </ul>
 
    </div>
</section>
