  html, body {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  ::selection {
    background: lighten($brand-color-light, 25%);
    text-shadow: none;
  }
  ::-moz-selection {
    background: lighten($brand-color-light, 25%);
    text-shadow: none;
  }
  
  /**
   * Reset some basic elements
   */
  body, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, hr,
  dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
  
  }
  
  
  
  /**
   * Basic styling
   */
  body {
    font: $base-font-weight #{$base-font-size-mobile}/#{$base-line-height} $base-font-family;
    color: $text-color;
    margin: 0;
    line-height: 2;
    position: fixed;
    top: 0;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow: hidden;

    @media screen and (min-width: $on-large) {
      font-size: $base-font-size;
    }
  }

  

 input {
    padding: .5rem;
    font-size: .85rem;
 }

 .wrapper {
     display: flex;
     padding-top: 60px;
  }

  
  
  
  /**
   * Set `margin-bottom` to maintain vertical rhythm
   */
  h1, h2, h3, h4, h5, h6,
  p, blockquote, pre,
  ul, ol, dl, figure,
  %vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
  }
  
  
  
  /**
   * `main` element
   */
  main {
    display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  }
  
  
  
  /**
   * Images
   */
  img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  
  
  /**
   * Figures
   */
  figure > img {
    display: block;
  }
  
  figcaption {
    font-size: $small-font-size;
  }
  
  
  
  /**
   * Lists
   */
  ul, ol {
    margin-left: $spacing-unit;
  }
  
  li {
    > ul,
    > ol {
      margin-bottom: 0;
    }
  }
  
  
  
  /**
   * Headings
   */
  h1, h2, h3, h4, h5, h6, p {
      margin-bottom: 0
  }
  
  b {
      font-weight: 400;
  }

  strong {
      font-weight: 500;
  }
  
  
  /**
   * Links
   */
  a {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
  
    &:visited {
      color: darken($link-color, 15%);
    }
  
    &:hover {
      color: darken($link-color, 15%);
      text-decoration: none;
    }
  
  }
  
  
  /**
   * Blockquotes
   */
  blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    @include relative-font-size(1.125);
    letter-spacing: -1px;
    font-style: italic;
  
    > :last-child {
      margin-bottom: 0;
    }
  }
  
  
  
  /**
   * Code formatting
   */
  pre,
  code {
    @include relative-font-size(0.9375);
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
  }
  
  code {
    padding: 1px 5px;
  }
  
  pre {
    padding: 8px 12px;
    overflow-x: auto;
  
    > code {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  
  
  /**
   * Container
   */
  .container {
    display: flex;
    flex-direction: column;
    width: 70%;
    width: 70vw;
    height: 100vh;
    overflow-y: scroll;
  }

  .sidebar {
    width: 30%;
    width: 30vw;
    padding: 1.5rem;
    position: fixed;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 5rem;
  }

 .bar {
  width: 100%; 
  height: 60px;
  position: fixed;
  top: 0;
  background-color: $brand-color-light;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  color: #fff;
  font-size: 1.05rem;
}
  
  
  
  /**
   * Clearfix
   */
  %clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  
  /**
   * Icons
   */
  
  .grey {
    color: $grey-color;
  }

  .blue {
      color: $link-color;
  }
  
  .svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
  }
  
  
  /**
   * Tables
   */
  table {
    margin-bottom: $spacing-unit;
    width: 100%;
    text-align: $table-text-align;
    color: lighten($text-color, 18%);
    border-collapse: collapse;
    border: 1px solid $grey-color-light;
    tr {
      &:nth-child(even) {
        background-color: lighten($grey-color-light, 6%);
      }
    }
    th, td {
      padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }
    th {
      background-color: lighten($grey-color-light, 3%);
      border: 1px solid darken($grey-color-light, 4%);
      border-bottom-color: darken($grey-color-light, 12%);
    }
    td {
      border: 1px solid $grey-color-light;
    }
  }