/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, *::before, *::after {
     box-sizing: border-box;
 }

 body {
    font-family: 'Merriweather', Times, serif;
    margin: 0;
    background-color: #eceff1;
    line-height: 2;
    padding-top: 60px;
 }

 ::-moz-selection { background: skyblue; }
 ::selection { background: skyblue; }

 ul {
     padding: 0;
 }
 
 li {
     list-style: none;
 }

 hr {
    border: 1px solid #e3e8ea
 }

 .bar {
    width: 100%; 
    height: 60px;
    position: fixed;
    top: 0;
    background-color: #1e88e5;
 }

 h1, h2, h3, h4, h5, h6, p  {
     margin-top: 0;
 }

 input {
    padding: .5rem;
    font-size: .85rem;
 }

 .wrapper {
     display: flex;
 }

 .container {
    display: flex;
    background-color: #fff;
    margin: 0 3rem;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
 }

 .center {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 button, .btn {
    outline: none; 
    border: none;
    background: #dfe0e6;
    border-radius: 5px;
    color: #222;
    font-size: 1rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
 }