<p>
  Log:
  <%= link_to "CSV", logs_path(format: "csv") %> |
</p>

<p>
  Answers:
  <%= link_to "CSV", answers_path(format: "csv") %> |
</p>

<p>
  Tasks:
  <%= link_to "CSV", tasks_path(format: "csv") %> |
</p>

<p>
  Survey Answers:
  <%= link_to "CSV", surveyanswers_path(format: "csv") %> |
</p>